.nav {
  background: #f4f5f6;
  border-bottom: 0.1rem solid #d1d1d1;
  height: 56px;
  width: 100%;
}

.nav-container, .app-form {
  width: 100%;
  max-width: 1024px;
  margin: 0 auto;
}

.nav-container {
  height: 100%;
  padding: 8px 32px;
}

.nav-title {
  font-size: 3rem;
  font-weight: bold;
  margin-bottom: 0;
}

.app-form {
  padding: 16px 32px;
  width: 100%;
  display: flex;
  justify-content: center;
}

.app-form > * ~ * {
  margin-left: 40px;
}

.app-members {
  flex: 0 1 640px;
}

.app-options {
  flex: 1 0 auto;
}
